<a href="https://colab.research.google.com/github/sakethreddy95/Gitam-CRT/blob/master/c.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#include<stdio.h>
int main()
{
	char x;
	scanf("%c",&x);
	if(x>=65 && x<=90)
	printf("upper case");
	else if(x>=97 && x<=122)
	printf("lower case");
	else if(x>=48 && x<=57)
    printf("its a digit");
    return 0;
}

SyntaxError: ignored

In [0]:
#include<stdio.h>
int main()
{
	int n,large=0,x;
	scanf("%d",&n);
	while(n!=0)
	{
		x=n%10;
		if(x>large)
		large=x;
		n=n/10;
	}
	printf("%d",large);
	return 0;
}

In [0]:
#include<stdio.h>
int main()
{
	int n,large=0,x,j;
	scanf("%d",&n);
	for(j=0;j<3;j++)
	{
		x=n%10;
		if(x>large)
		large=x;
		n=n/10;
	}
	printf("%d",large);
	return 0;
}

In [0]:
#include<stdio.h>
int main()
{
	int n,large=0,x,j,small=0;
	scanf("%d",&n);
	while(n!=0)
	{
		x=n%10;
		if(x>large)
		large=x;
        if(x<=small){
		small=x;
		}n=n/10;
	}
	printf("%d %d",small,large);
	return 0;
}

In [0]:
#include<stdio.h>
int main()
{
	int n,x,t;
	scanf("%d",&n);
	while(n!=0)
	{
		x=n%10;
	n=n/10;
	switch(x)
	{
		case 1:printf("one " ); break;
		case 2:printf("two "); break;
		case 3:printf("three "); break;
		case 4:printf("four "); break;
		case 5:printf("five "); break;
		case 6:printf("six"); break;
		case 7:printf("seven "); break;
		case 8:printf("eight "); break;
		case 9:printf("nine "); break;
		case 0:printf("zero "); break;
		default:printf("what the hell did u give");
	}
}
return 0;

In [0]:
#include<stdio.h>
int main()
{
	int a,x,s=0;
	scanf("%d",&a);
	while(a!=0){
		x=a%10;
		a=a/10;
		switch(x){
			case 4:x=1; break;
			case 6:x=1; break;
			case 8:x=2; break;
			case 9:x=1; break;
			default:x=0; break;}
		s=s+x;}
printf("%d ",s);
return 0;}